/* Table Heading */

.tblehead{
    background-color: rgb(0, 187, 255);
}

/* Table Body */

td:nth-child(1){
    background-color: red;
}

td:nth-child(2){
    background-color: blue;
}

td:nth-child(3){
    background-color: green;
}

td:nth-child(4){
    background-color: orange;
}

td:nth-child(5){
    background-color: violet;
}